/* colors imported from https://coolors.co/eddcd2-fff1e6-fde2e4-fad2e1-c5dedd-dbe7e4-f0efeb-d6e2e9-bcd4e6-99c1de */
:root {
  --champagne-pink: #eddcd2ff;
  --linen: #fff1e6ff;
  --misty-rose: #fde2e4ff;
  --mimi-pink: #fad2e1ff;
  --powder-blue: #c5deddff;
  --mint-cream: #dbe7e4ff;
  --isabelline: #f0efebff;
  --alice-blue: #d6e2e9ff;
  --beau-blue: #bcd4e6ff;
  --pale-cerulean: #99c1deff;
  --font: #000000;
}

* {
  box-sizing: border-box;
  background-color: var(--isabelline);
}

body
html {
  min-width: 100%;
  background-color: var(--isabelline);
}

body {
  background-color: var(--isabelline);
  margin: 0;
  font-size: 18;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

a {
  font-weight: bold;
}

p {
  font-size: 18px;
  color: var(--font);
  font-weight: bold;
  text-align: center;
}

h1
h2 
h3
h4 {
  margin: auto 25px;
  padding: 12px;
  color: var(--font);
  font-weight: bold;
}

h2 {
  text-align: center;
}

header {
  padding: 50px 40px 30px 50px;
  background-color: var(--isabelline);
  border-bottom: 5px solid var(--mint-cream);
  color: var(--font);
}

.space-between {
  justify-content: space-between;
}


/* -------- Nav -------- */
.nav-link {
  background: var(--isabelline);
  border: none;
  border-radius: 3px;
  color: var(--font);
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
}

.nav-link-active {
  background: var(--mint-cream);
  border: none;
  color: var(--font);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
}

.flex-row {
  display: flex;
  flex: wrap;
  justify-content: space-between;
}


/* -------- End Nav -------- */


/* ------ About Section ----- */
.personalpic {
  display: block;
  height: 15%;
  width: 15%;
  margin-right: auto;
  margin-left: auto;
  align-content: center;
}

.info {
  padding: 10px 10px 20px 30px;
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info p {
  display: block;
  flex-wrap: wrap;
  width: 75%;
  color: var(--font);
  margin: auto;
}

/* ------ End About Section ----- */

/* ------ Contact Section ----- */
form {
  width: 55%;
  padding: 0 40px;
}

input {
  margin-bottom: 5px;
  border: 2.5px solid var(--alice-blue);
  border-radius: 1px;
}

textarea {
  width: 100%;
  height: auto;
  border: 2.5px solid var(--alice-blue);
  padding: 5px;
  border-radius: 2px;
}

/* ------ End Contact Section ----- */

/* ------- Portfolio Cards -------- */
.container {
  height: 90%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
}

.card {
  background-color: var(--mint-cream);
  justify-content: center;
  flex: 0 10% 40%;
  overflow: hidden;
  border: solid 50px var(--mint-cream);
  margin-bottom: 30px;
}

.card-body {
  background-color: var(--mint-cream);
  justify-content: center;
}

.card-body h3 {
  background-color: var(--mint-cream);
}

.card-body p {
  background-color: var(--mint-cream);
}

.card-body a {
  background-color: var(--mint-cream);
}

.card-body i {
  background-color: var(--mint-cream);
}

.img {
  max-width: 100%;
  height: 300px;
}


/* ------- End Cards -------- */

/* ----- Resume ----- */
.resume {
  padding: 0 40px;
  text-align: center;

}

.resume p {
  color: var(--font);
  display: block;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
  text-align: center;
}
/* ----- End Resume ----- */

/* ------ Footer ----- */
footer {
  padding: 30px 25px;
  background-color: var(--isabelline);
}

.footer {
  align-items: baseline;
}

.footer a {
  align-items: center;
  justify-content: space-between;
}

.footer p {
  align-content: center;
}
/* ------ End Footer ----- */