body {
  min-height: 100%;
  margin: 0;
  line-height: 1.5;
  font-size: 18px;
  color: var(--isabelline);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* colors imported from https://coolors.co/eddcd2-fff1e6-fde2e4-fad2e1-c5dedd-dbe7e4-f0efeb-d6e2e9-bcd4e6-99c1de */
:root {
  --champagne-pink: #eddcd2ff;
  --linen: #fff1e6ff;
  --misty-rose: #fde2e4ff;
  --mimi-pink: #fad2e1ff;
  --powder-blue: #c5deddff;
  --mint-cream: #dbe7e4ff;
  --isabelline: #f0efebff;
  --alice-blue: #d6e2e9ff;
  --beau-blue: #bcd4e6ff;
  --pale-cerulean: #99c1deff;
  --font: #000000;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--pale-cerulean);
  font-weight: bold;
}

p {
  font-size: 18px;
  color: var(--font);
  font-weight: bold;
  background-color: var(--alice-blue);
  text-align: center;
}

h1
h2 
h4 {
  margin: auto 25px;
  padding: 12px;
  color: var(--font);
  font-weight: bold;
}

header {
  padding: 50px 40px 30px 50px;
  background-color: var(--isabelline);
}

.flex-row {
  display: flex;
  flex: wrap;
}

.space-between {
  justify-content: space-between;
}

/* -------- Nav -------- */
.nav-link {
  background: var(--isabelline);
  border: none;
  border-radius: 3px;
  color: var(--pale-cerulean);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
}

.nav-link-active {
  background: var(--pale-cerulean);
  border: none;
  color: var(--isabelline);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
}
/* -------- End Nav -------- */


/* ------ About Section ----- */
.personalpic {
  display: block;
  height: 200%;
  width: 200%;
  margin-right: auto;
  margin-left: auto;
}

.info {
  padding: 10px 10px 20px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info p {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  color: var(--font);
  margin: auto;
}

/* ------ End About Section ----- */

/* ------ Contact Section ----- */
form {
  width: 75%;
  padding: 0 30px;
}

input {
  margin-bottom: 5px;
  border: 2.5px solid var(--alice-blue);
  border-radius: 1px;
}

textarea {
  width: 100%;
  height: auto;
  border: 2.5px solid var(--alice-blue);
  padding: 5px;
  border-radius: 2px;
}

/* ------ End Contact Section ----- */

/* ------- Portfolio Cards -------- */
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 25%;
  text-align: center;
  background-color: var(--pale-cerulean);
  color: var(--font);
}

.content {
  color: var(--font);
  justify-content: space-between;
  text-align: justify;
}

/* ------- End Cards -------- */

/* ----- Resume ----- */
.resume {
  background-color: var(--isabelline);
  padding: 0 40px;

}

.resume p {
  background-color: var(--isabelline);
  color: var(--font);
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  color: var(--font);
  margin: auto;
}
/* ----- End Resume ----- */

/* ------ Footer ----- */
footer {
  padding: 25px 0;
  background-color: var(--isabelline);
  justify-content: center;
}
/* ------ End Footer ----- */